.hero {
  background: url('../../assets/images/hero-bg.svg') center/cover no-repeat;
  width: 100%;
  height: 890px;
}

.hero__content {
  padding-top: 180px;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.hero__title {
  color: var(--color-accent);
  font-size: 64px;
}

.hero__desc {
  margin-block: 25px 50px;
}

.hero__btn {
  padding: 20px 50px;
}

@media (max-width: 768px) {
  .hero {
    height: 700px;
  }

  .hero__content {
    padding-top: 80px;
  }

  .hero__btn {
    padding: 14px 40px;
  }
}

@media (max-width: 768px) {
  .hero__title {
    font-size: 50px;
  }
}
