.pricing {
  padding-block: 95px 145px;
  color: var(--color-white);
  background-color: var(--color-dark-accent);
}

.pricing__title {
  font-size: 40px;
  font-weight: 900;
}

.pricing__list {
  display: flex;
  row-gap: 46px;
  flex-direction: column;
  margin-top: 72px;
}

.pricing__link {
  font-size: 24px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .pricing__list {
    row-gap: 22px;
    margin-top: 52px;
  }
}
