:root {
  --color-white: #fff;
  --color-black: #000;
  --color-accent: #01996d;
  --color-light-accent: #01996d33;
  --color-dark-accent: #245852;

  --container-width: 1400px;
  --container-padding-x: 10px;
}
